<div class="content contact">
  <div class="container_12">
      <div class="grid_12">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.0912771469484!2d-79.9834769!3d40.428977700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f1697537da23%3A0xe651d14ec0fd3fbf!2s1417+E+Carson+St%2C+Pittsburgh%2C+PA+15203%2C+USA!5e0!3m2!1sen!2s!4v1429815909783" width='940' height='450' framborder="0" style="border: 0"></iframe>
        </div>
      </div>
      <div class="clear"></div>
      <br><br><br>
      <div class="grid_4">
        <h3 class="head3">Address</h3>
              <div class="map">
                <address>
                    <dl>
                        <dt>
                            <b>Address:</b><br>
                            1417 E. Carson Street,<br>
                            Pittsburgh, PA. 15023
                        </dt>
                        <dd><span><b>Telephone:</b></span> 412-481-3888 </dd>
                    </dl>
                </address>
           <!-- <p>We’re glad to provide support services for all <a href="http://www.templatemonster.com/website-templates.php" rel="nofollow" class="col2">premium designs</a>
            that we produce. The goodies that are available for free (free templates) go without support. </p>
            If you’re looking for some professionals to help you polish the chosen free theme, address to  <a href="http://www.templatetuning.com/"  rel="nofollow" class="col2">Template Tuning </a>
           guys for help. Please note that it’s a paid service. -->

           <!-- <p>WELCOME TO SOLA PIZZA, PITTSBURGH’S BEST PIZZA RESTAURANT . THE BEST AND MOST DELICIOUS PIZZAS, HOAGIES, SALADS, STROMBOLIS, Fried Chicken & PLENTY MORE ARE AWAITING FOR YOU!</p> -->
           <p>Welcome to "Sola Pizza", Pittsburgh Best Pizza Restaurant. The Best and Most Delicious Pizzas, Hoagies, Salads, Strombolis, Fried Chicken & Plenty More are Awaiting for You.</p>

            </div>
      </div>
      <!-- <div class="grid_8">
        <h3 class="head3">Contact Form</h3>
              <form id="form" >
                              
                        <div class="success_wrapper">
                        <div class="success-message">Contact form submitted</div>
                        </div>
                        <label class="name">
                        <input type="text" placeholder="Name:" data-constraints="@Required @JustLetters" />
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*This is not a valid name.</span>
                        </label>
                      
                        <label class="email">
                        <input type="text" placeholder="E-mail:" data-constraints="@Required @Email" />
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*This is not a valid email.</span>
                        </label>
                         <label class="phone">
                            <input type="text" placeholder="Phone:" data-constraints="@Required @JustNumbers"/>
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid phone.</span>
                            </label>
                        <label class="message">
                        <textarea placeholder="Message:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*The message is too short.</span>
                        </label>
                        <div>
                        <div class="clear"></div>
                        <div class="btns">
                        <a href="#" data-type="reset" class="btn">Clear</a>
                        <a href="#" data-type="submit" class="btn">Send</a></div>
                        </div>
              </form>   
      </div> -->
  </div>
</div>