<div class="content"><div class="ic"></div>
  <div class="container_12" style='margin-bottom: 100px'>
    <div class="grid_12">
      <h3 style='text-align: center'>Coupons</h3>
    </div>    
    <% @coupons.each do |c| %>
    <%= link_to order_now_path do %>
      <div class="grid_3">
        <div class="box" id='maxheight'>
          <div class="title" style='margin-bottom: 10px'><%= c.title %></div>
          <b><%= c.desc %></b>
          <h3>$<%= c.price %></h3>
          <hr style='border: 1px dashed'>

          <p style='position: static'>Not valid with any other offer. Limited time only.</p>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>