<div class="content"><div class="ic"></div>
<br>

<!-- <p class='center' style='font-size: 25px'>
  <span style='font-size: 25px; color: red'> Online Special Only </span> <br> Order 20$ or more get any appetizer for free. 
  <br> <span style='font-size: 20px; padding: 20px'> Make note of your choice. </span>
</p> -->

<a href="/order-now" class='block1'>
  <% unless @coupons.nil? %>
      <% @coupons.each do |c| %>
      <div class="grid_3">
        <div class="box" id='maxheight' style='width: 150px; height: 150px;' style='padding-top: 100px'>
          <div class="title"><%= c.title %></div>
          <b><%= c.desc %></b>
          <h3>$<%= c.price %></h3>
          <!-- <hr style='border: 1px dashed'> -->
        </div>
      </div>
    <% end %>
  <% end %>
</a>
    <!-- <h4 style='position: static; text-align: center'>  Not valid with any other offer. Limited time only.</h4> -->
<a href="/order-now" class="block1">
  <!-- <img src="/assets/img/blur_img1.jpg" alt=""> -->
  <img src="/assets/rsz_pizza_pep.jpg" alt="pizza">
  <span class="price"><span>Large Cheese Pizza </span><span><small>$</small>10.99</span><strong></strong>
  <h6 style='margin-top: 20px'> Pick up only</h6>
</span>
</a>
<a href="/order-now" class="block1" style='margin-bottom: 100px'>
  <img src="/assets/rsz_buffalo_ck_salad.jpg" alt="salads">
  <span class="price"><span>Any Salad</span>
<span><small>$</small> 10.00</span><strong></strong></span>
</a>
<br>
      <div class='logo center' >
        <a href="/order-now" class='orderNowIndex'>Order Online</a>
      </div>
</div>

