<div class="content"><div class="ic"></div>
  <div class="container_12">
    <div class="grid_12">
      <h3 class="head2">Our Menu</h3>
    </div>  
    
    <div class="tabs tb gallery">
         <div class="div-nav  ">
             <div class="grid_12">
                 <ul class="nav" id='categories'>
                    <!-- <li class="selected"><a href="#tab-2" class="">Salads</a></li> -->
                    <%= render @categories %>
                 </ul>
             </div>
         </div>
         <div class="div-tabs">
      <% @categories.each do |c| %>
          <div  id="<%= c.id %>" class="tab-content gallery1">
            <div class="clear"></div>
          
          <div class="grid_12">
              <table class="table hoverTable">
              <% c.products.each do |p| %>
                <tr class='product_list' id='product-id-<%= p.id%>' style='height: 35px;'>
                  <td style='font-size: 18px;'><%= p.title + ' '%></td>
                  <!-- <td><%#= "." * (150 - p.title.length) %> </td> -->
                  <td><%= p.desc %> </td>
                  <td> - <%= p.price ? ' $' + p.price.to_s : " N/A" %> </td>
                </tr>
                <% end %>
              </table>
          </div>

            <!-- OLD-VERSION -->
              <% blockk do %>
                <% c.products.each do |p| %>
                <div class="grid_3">
                      <a href="/order-now" class="menu_product">
                        <!-- <img src="<%= p.image_url %>" alt="<%= p.title %>"><span></span> -->
                        <div class="menu_desc"><p><%= p.desc %></p></div>
                      </a>
                      <div class="col2">
                        <span class="col3" style='font-size: 22px'>
                          <a href="/order-now"> <%= p.title %> </a>    
                        </span> 
                          <br>$<%= p.price.to_i %>
                      </div>
                </div>
                <% end %>
              <% end %>
              <!-- END -->

              <!-- <div class="grid_3">
                <a href="images/big2.jpg" class="gal"><img src="images/page3_img2.jpg" alt=""><span></span></a>
                <div class="col2"><span class="col3"><a href="#">Phasellus erat </a></span> $ 21.99</div>
              </div> -->
          </div>
      <% end %>
         </div>
    </div>
  </div>
</div>


<style type="text/css">
  .hoverTable{
    width:100%; 
    border-collapse:collapse; 
}
.hoverTable td{ 
    /*padding:7px; border:#4e95f4 1px solid;*/
}
/* Define the default color for all the table rows */
.hoverTable tr{
    /*background: #b8d1f3;*/
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
  background-color: #CFCCA3;
}
</style>

