<!-- <p class='center' style='font-size: 25px'>
  <span style='font-size: 25px; color: red'> Online Special Only </span> <br> Order 20$ or more get any appetizer for free. 
  <br> <span style='font-size: 20px; padding: 20px'> Make note of your choice. </span>
</p> -->

<iframe allow-same-origin=false src="https://www.letsget.net/Default.aspx?RestaurantID=5347&HideRestaurantHeader=True&HideFrames=True&wmode=transparent&allow-same-origin=False" id='order_iframe' class='order_iframe'>
</iframe>


<script>


// $(document).ready(function(){

// 	$(window).bind('load', function(){
// 		var x = document.getElementById("order_iframe");
//     	var y = (x.contentWindow || x.contentDocument);
//     	y = y.document.childNodes[0].childNodes[1];
//     	// y.style.backgroundColor = "red";
//  	    y.setAttribute('background-color', 'red');
//  	    y.style.backgroundColor = "#FFF";
//     	console.log("Y", y);
		
// 		var q = x.contentWindow.postMessage(y, '*');
// 		console.log(q);
// 	});
// });

	// var cssLink = document.createElement('link');
	// cssLink.href = '/assets/iframe.css';
	// cssLink.rel = 'stylesheet';
	// cssLink.type = 'text/css';
	// var linkTag = document.getElementById('order_iframe');
	// linkTag.appendChild(cssLink);
	// console.log(linkTag);
</script>