<div class="container">
<div style='font-size: 40px; margin: 20px;' class='center'> Admin Login </div>

<%= form_for :login, url: :login do |f| %>
	
	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

    <%= f.submit "Sign In", class: "btn btn-primary" %>
<% end %>

</div>