
	<h3  style='margin-bottom: 10px'>Category</h3>
	<%= link_to "New Category", new_category_path, remote: true, class: 'new_category_button'%>
	<hr>
	<div id='categories'>
		<% @categories.each do |c| %>
		<p style='font-size: 20px; color: white;'>
			<%= link_to c.title, dashboard_path(category: c.title)%>
		</p>
		<% end %>
	</div>