
<h3>Coupons</h3>

	<div class='grid_6'style='color: red'>
		<%= link_to "New Coupons", new_coupon_path, remote: true, class: 'new_coupon_button'%>
	</div>

<table class="grid_12">
	<thead>
		<tr>
			<th> Title </th>
			<th> Description </th>
			<th> Price</th>
			<th colspan="3"> Actions </th>
		</tr>
	</thead>
	<tbody id="coupons">
		<% @coupons.each do |c| %>
		<tr class='coupon_<%= c.id %>'>
			<td> <%= c.title %></td>
			<td> <%= c.desc %></td>
			<td> $<%= c.price %></td>
			<td>
				<%= link_to 'Edit', edit_coupon_path(c), remote: true %>
				<%= link_to 'Destroy', coupon_path(c), method: :delete, remote: true %></li>
			</td>
			
		</tr>
		<% end %>
	</tbody>
</table>

