	<h3><%= @category.title unless @category.nil? %></h3>
	<% unless @category.nil? %>
		<h5 style='color: red'>
			<%= link_to "Add Product To #{@category.title}", new_category_product_path(@category.id), remote: true, class: 'new_product_button'%>
		</h5>
	<% end %>

	<table>
		<thead>
			<tr>
				<th> Image </th>
				<th> Title </th>
				<th> Description </th>
				<th> Price </th>
				<th colspan="3"> Actions </th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |p| %>
			<tr id="products" class='product_<%= p.id %>'>
				<td><%= image_tag(p.image_url :thumb) %></td>
				<td><%= p.title %></td>
				<td><%= p.desc %></td>
				<td>$<%= p.price %></td>
				<td>
				<% unless @category.nil? %>
				    <%= link_to 'Edit', edit_category_product_path(@category.id, p), remote: true %>
    				<%= link_to 'Destroy', category_product_path(@category.id, p), method: :delete, remote: true %></li>
				<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
