
<div class="container_12">
<!-- 	<div class="grid_12">
          <nav class='center' style='margin-left: -30px'>
            <ul>
             <li class="bt-icon"><a href="/menu">Categories</a></li>
             <li class="bt-icon" style='margin-right:0px'><a href="/order_now">Coupons</a></li>
             <li class="bt-icon" style='margin-right:0px'><a href="/all_coupons">Users</a></li>
            </ul>
          </nav>
	</div> -->



	<div class="grid_9">
		<%= render 'products' %>
	</div>
		
	<div class="grid_2">
		<%= render 'categories' %>
	</div>

<hr>
	<div class="grid_12">
		<%= render 'coupons' %>
	</div>
</div>


