<!-- :first_name, :last_name, :phone, :email, :password -->
<h3>Its here</h3>
<%= form_for :user, url: :users, method: :post do |f| %>
	
	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %>
	    <%= f.password_field :password_confirmation, class: 'form-control' %>
	</div>

    <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
