<tr class='coupon_<%= coupon.id %>'>
    <td><%= coupon.title %></td>
    <td><%= coupon.desc %></td>
    <td><%= coupon.price %></td>
    <td>
    	<%= link_to 'Edit', edit_coupon_path(coupon) %>
    	<%= link_to 'Destroy', coupon, method: :delete, remote: true %>
    </td>
</tr>