<div id="form_field" style='border: 1px solid; border-radius: 7px; margin: 20px 0px'>
<%= form_for(@coupon, remote: true) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<button id='cancel' class='btn btn-default'> Cancel </button>

<script>
$(document).ready(function(){
  $('#cancel').on('click', function(){
      $('#form_field').remove();
      $('.new_coupon_button').show();
  })
});

</script>

</div>