console.log("Coupon CREATE EJS");

	$('#coupons').append("<%= j render @coupon %>");
	$('#form_field').remove();
	$('.new_coupon_button').show();


// 2st Step Direct form for button
// $append
// $('#category_title').val("");
