console.log("Coupon | destroy.js.erb file");
// window.location.replace("http://localhost:3000");

// $('nav').after("<div class='alert alert-danger'> Successfully Destroyed </div>");
$(".coupon_" + <%= @coupon.id %>).fadeOut(250, function(){
	$(this).remove();
});