
console.log("edit.js.erb file");
console.log(".coupon_" + <%= @coupon.id %> );


$('.coupon_'+<%= @coupon.id%>).after("<%= escape_javascript(render 'form') %>");
$('.new_product_button').hide();
console.log("END");	
// $('form').slideDown(350);

