
<hr>
<%= form_for(User.new, remote:true ) do |f| %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name, placeholder: 'First Name' %> <br>

	<%= f.label :last_name %>
	<%= f.text_field :last_name, placeholder: 'Last Name' %> <br>

	<%= f.label :phone %>
	<%= f.text_field :phone, placeholder: '555-555-5555' %> <br>

	<%= f.label :email %>
	<%= f.email_field :email, placeholder: 'email@gmail.com' %> <br>

    <%= f.label :password %>
    <%= f.password_field :password, class: '' %><br>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: '' %>

	<%= f.submit %>
<% end %>


<h1>Login</h1>
<%= form_for :session, url: login_path do |f| %>
	
	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div class="form-group">
		<%= f.submit 'Login' %>
	</div>
<% end %>


<h1>LOG OUT</h1>

<%= link_to "Log Out", logout_path %>


  