<footer>    
  <div style='margin-bottom: 50px'>
    <a href="https://www.facebook.com/Sola-Pizza-117811531578463/">
      <i class="fa fa-facebook fa-4x"></i>
    </a>

    <a href="https://plus.google.com/105417674240857664711/about">
      <i class="fa fa-google-plus fa-4x" style='margin-left: 30px'></i>
    </a>
  </div>      
  
  <div class="container_12">
    <div class="grid_6 prefix_3">
      <h3 style='font-size: 120px; font-family: Tangerine, serif; color: #4D4B3E; text-align: center; margin-top: -50px' > <a href="/">Sola Pizza </a>
      </h3>
      <!-- <a href="/" class="f_logo"><img src="/assets/img/f_logo.png" alt=""></a> -->
      <div class="copy">

      <!-- &copy; 2013 | <a href="#">Privacy Policy</a> <br> Website   designed by <a href="http://www..com/" rel="nofollow">TemplateMonster.com</a> -->
		&copy; <%= Time.now.year %> Website Developed by <a href="#"><i>7urkm3n</i></a>

      </div>
    </div>
  </div>
</footer>
