<header> 
  <div class="container_12">

    <div class="grid_3 center">
      <p style='margin: 70px 100px 0 0'>
        <h2>Address:</h2>
         1417 East Carson Street,
         Pittsburgh, PA 15203
      </p>
      <p>
        <h2>Hours:</h2>
        <b>Mon-Wed: </b>       4:00pm - 12:00am <br>
        <b>Thu-Sat: </b>     4:00pm - 3:00am <br>
        <b style='margin-left: 5px'>Sunday: </b> 4:00pm - 12:00am
      </p>

    </div>

   <div class="grid_6 "> 
      <h3 class='logo logoMain center'> 
        <a href="/">Sola Pizza <p class='logoText'> Fast and Free Delivery</p></a>
      </h3>
      
      <h3 class='center' style='margin-top: -140px'>412-481-3888</h3>
      <div class="menu_block">
        <nav class='center' style='margin-left: -30px'>
            <ul>
             <li class="bt-icon"><a href="/menu" style='color: #FF3030'>Menu</a></li>
             <li class="bt-icon" style='margin-right:0px'><a href="/order-now" style='color: red'>Order Now</a></li>
             <li class="bt-icon" style='margin-right:0px'><a href="/coupons" style='color: red'>Coupons</a></li>
             <li class="bt-icon"><%= link_to "Contacts", contacts_path, style: 'color: red' %> </li>
            </ul>
          </nav>
          <div class="clear"></div>
      </div>

      <% if logged_in? && current_user.admin %>
      <hr>
        <ul style='margin-left: 20%'>
             <li class="bt-icon"><%= link_to "Galery", galeries_path %> </li>
          <li class="bt-icon"><%= link_to "Dashboard", dashboard_path %></li>
          <li class="bt-icon"><%= link_to "Sign Out", logout_path %> </li>
        </ul>
      <% end %>

      <div class="clear"></div>

    </div>  <!-- grid_12 -->
    <div class="grid_3 center">
      <div class='logo logoOrder' >
          <a href="/order-now">Order Online</a>
      </div>      
    </div>
    
  </div> <!-- Container_12 -->
</header>
