<div id="form_field" class='container'style='border: 1px solid; border-radius: 7px; margin: 20px 0px'>
<%= form_for(@galery) do |f| %>
    
  <div class="field">
    <%#= f.hidden_field :image_cache %>
    <%= image_tag(@galery.image_url :menu) if @galery.image? %>
  </div>

  <div class="field" id="image_id">
    <%= f.file_field :image, id: 'image' %><br>

    <%= button_tag "Add with URL", type: :reset, class: 'image_btn'%>
    <%= f.text_field :remote_image_url, placeholder: 'Enter URL', id: 'image_url'%>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<script>
  $(document).ready(function(){
    $('#image_url').hide()

    $('.image_btn').on('click', function(){
      $('#image_url').show()
    })
  })
</script>