<% provide(:title, "Gallery") %>

<%= link_to 'New Galery', new_galery_path, class: 'new_galery_button',remote: true %>
<div class="container_12">

<% unless @galeries.nil? %>
	<% @galeries.each do |galery| %>
		<div class="grid_4">
			<div class="galery_<%= galery.id %> gallery">
				<tr class="galery_<%= galery.id %>">
		        <%= image_tag(galery.image_url :thumb) %>
		        <%= galery.title %>
		        <%= link_to 'Edit', edit_galery_path(galery), remote: true %>
		        <%= link_to 'Destroy', galery, method: :delete, remote: true %>
		      </tr>
			</div>
		</div>
	<% end %>
<% end %>

</div>