/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *require_tree .
 *= require custom
 *= require css/font-awesome
 *= require css/touchTouch
 *= require css/form
 *= require css/style
 *= require_self
 *
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "font-awesome";


// menu pic
a.menu_product{
	margin-top: 52px;
	margin-bottom: 23px;
}

a.menu_product{
	display: block;
	position: relative;
}

a.menu_product img{
	border: 1px solid #f7f8ed;
	border-radius: 500px;
}
// menu desc
.menu_desc{
	color: white;
	background: #d9c381;
	margin-left: 15px;
	width: 189px;
	height: 189px;
}
.menu_desc p{
	padding: 15px;
	font-size: 15px;
	margin: 0px;
}


// 
.category{
	color: #CFCCA3;
}

// Dashboard
.category_dash{
	color: white;	
}


// Galery

// .gallery{
// 	width: 250px;
// 	height: 250px;
// 	border: 1px solid black;
// 	margin-bottom: 25px;
// }