@import url("https://fonts.googleapis.com/css?family=Tangerine");

// Navbar
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 8px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    margin-top: -5px
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    // background-color: #111;
}



// 
.center{
    text-align: center;
}

#maxheight{
    height: 200px;
    border: 1px dashed red;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-top: -10px;
}

// Order Now Frame
.order_iframe {
    width: 100%;
    height: 1360px;
}

// Navbar LOGO

.logo{
    font-family: Tangerine, serif;
    color: #4D4B3E;
}

.logoMain{
    font-size: 120px;
    margin-top: -50px;
}

.logoText{
    font-size: 50px; 
    margin-top: 5px    
}

.logoOrder{
    font-size: 65px;
    margin-top: 120px;
}

.logoOrderLink{
    border: 1px solid; 
    border-radius: 15px; 
    padding: 20px;
}



    
/*Index Page*/
.orderNowIndex{
    margin-top: -50px;
    padding: 20px 150px;
    border: 1px solid; 
    border-radius: 15px; 
    font-size: 50px;
}


/*products hover in menu*/
.hoverTable{
    width:100%; 
    border-collapse:collapse; 
}
.hoverTable td{ 
    /*padding:7px; border:#4e95f4 1px solid;*/
}
/* Define the default color for all the table rows */
.hoverTable tr{
    /*background: #b8d1f3;*/
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
  background-color: #CFCCA3;
}
