<% blockk do %>
  <tr class='category_<%= category.id %>'>
    <td><%= link_to category.title, category %></td>
    <td><%= link_to "Edit", edit_category_path(category), remote: true, id: 'edit'%></td>
    <td><%= link_to "Delete", category, remote: true, method: :delete %></td>
  </tr>
  <br>
 <% end %>


                    
	<li><%= link_to category.title, "##{category.id}", class: 'category', style: 'color: #FF3030' %></li>
                    
