<%= form_for(@category, remote: true) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Category_Title" %><br>
    <%= f.text_field :title, placeholder: 'Pizza/Wings/Sandwich?', autofocus: true, 'data-behavior' => 'submit_on_enter' %>
  </div>
<% end %>
