console.log("create.js.erb file");
	
	$('nav').after("<div class='alert alert-success'> Successfully Added </div>");
	$('#categories').append("<%= j render @category %>");
	$('form').remove();
	$('.new_category_button').show();


// 2st Step Direct form for button
// $append
// $('#category_title').val("");
