console.log("destroy.js.erb file");
// window.location.replace("http://localhost:3000");

$('nav').after("<div class='alert alert-danger'> Successfully Destroyed </div>");
$(".category_" + <%= @category.id %>).fadeOut(250, function(){
	$(this).remove();
});
	

