
console.log("edit.js.erb file");
console.log(".category_" + <%= @category.id %> );



$('.category_'+<%= @category.id%>).after("<%= escape_javascript(render 'form') %>");
$('.new_category_button').hide();
console.log("END");
// $('form').slideDown(350);

