
<div class="container_12">
	<%#= render 'form' %>
	<%= link_to "Add Category", new_category_path, remote: true, class: 'new_category_button'%>
</div>

<div class="content"><div class="ic"></div>
  <div class="container_12">
    <div class="grid_12">
      <h3 class="head2">Our Menu</h3>
    </div>  
    
    <div class="tabs tb gallery">
         <div class="div-nav  ">
             <div class="grid_12">
                 <ul class="nav" id='categories'>
                    <!-- <li class="selected"><a href="#tab-2" class="">Salads</a></li> -->
                    <%= render @categories %>
                 </ul>
             </div>    
         </div>
         <div class="div-tabs">
     	<% @categories.each do |c| %>

     		
          <div  id="<%= c.id %>" class="tab-content gallery1">
         	  <div class="clear"></div>
     		<% if c.title.downcase == 'pizza' %>
	     		<p>  </p>
     		<% end %>
          	<% c.products.each do |p| %>
              <div class="grid_3">
                <a href="#" class="gal"><img src="<%= p.image_url %>" alt=""><span></span></a>
                <div class="col2">
                  <span class="col3">
                    <a href="#"><%= p.title %></a>
                  </span> 
                  $ <%= p.price %>
                </div>
              </div>
            <% end %>
            
              <!-- <div class="grid_3">
                <a href="images/big2.jpg" class="gal"><img src="images/page3_img2.jpg" alt=""><span></span></a>
                <div class="col2"><span class="col3"><a href="#">Phasellus erat </a></span> $ 21.99</div>
              </div> -->
          </div>
     	<% end %>
         </div>
    </div>
  </div>
</div>

