console.log('New.js.erb');

$('.new_category_button').after("<%= j render('form') %>");
$('.new_category_button').hide();

// $('.new_category_button').html("<%= j button_tag :cancel %>").on('click', function(){
// 	$('form').remove();
// });