<div class="container_12">
<p id="notice"><%= notice %></p>

  <div><h1><%= @category.title %></h1>

<%= link_to 'Add Product', new_category_product_path(@category), remote: true, class: 'new_product_button'%>
<div id="products"></div>
<ul>
<%= render @products %>
</ul>

<br><br>
<br><br>
<%= link_to 'Back', categories_path %>
</div>