console.log("Update.js.erb file");

$('nav').after("<div class='alert alert-success'> Successfully Updated </div>");
$(".category_" + <%= @category.id %>).replaceWith("<%= j(render @category) %>");
$('form').remove();
$('.new_category_button').show();