/**/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/*       'Open Sans', sans-serif     */

@import "/assets/css/reset.css";
@import "/assets/css/grid.css";
@import "/assets/css/menu.css";


/*@import "../css/font-awesome.css";*/

input {
	outline:  none !important;
	border-radius: 0 !important;	 
}


html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 14px/20px  Arial, Helvetica, sans-serif;
	color:#5f5e4e;
	background-color: #d7d7b1;
	position:relative;
	min-width:960px;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

h1, h2, h3, h4, h5, h6 {
	/*font-weight: normal;*/
	font-family: 'Open Sans', sans-serif ;
	/*color: #009fb3;*/

}

h3 {
	font-size: 50px;
	line-height: 50px;
	color: #5f5e4e;
	padding-top: 98px;
	margin-bottom: 49px;
}

.page1 h3 {
	text-align: center;
	padding-top: 97px;
	margin-bottom: 138px;
}

h3.head1 {
	text-align: center;
	padding-top: 91px;
	margin-bottom: 136px;
}

h3.head2 {
	text-align: center;
	padding-top: 25px;
	margin-bottom: 47px;
}

h3.head3 {
	font-size: 36px;
	padding-top: 93px;
	margin-bottom: 42px;
}

ul.list+h3.head3 {
	padding-top: 40px;
}

p {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
	padding-top: 3px;
}

ul.list li {
	padding-left: 33px;
	background: url(../images/marker.png) 0 6px no-repeat;

}
ul.list li+li {

}

/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #d9c381;
	
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}

.mb1  {
	margin-bottom: 25px !important;
}

.ind1 {
	margin-top: 11px;
}

.pad0 {
	padding: 0 !important;
}


.pt0 {
	padding-top: 0;
}

.img_inner {
	max-width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	margin-bottom: 19px;
 position: relative;
}

.fleft {
	float: left;
	margin-right: 20px;
	margin-top: 5px;	
	margin-bottom: 0px;
}

.page1 .fleft {
	margin-top: 1px;
	margin-right: 22px;
}

.fright {
	float: right !important;

}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}


/*header*/

header {
	display: block;
	position: relative;
	z-index: 999;
	padding: 29px 0 21px;
}


h1 {
	float: none;
	z-index: 999;
	font-size: 0;
	text-align: center;
	line-height: 0;
	margin-bottom: 58px;

}
h1 a {
	display: inline-block;
	overflow: hidden;
	width: 424px;
	height: 126px;
	text-indent: -999px;
	transition: 0s ease;

	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

h1 a img {
	display: block;	
}

.socials {
	margin-bottom: 27px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.socials a {
	position: relative;
	margin: 0 4px 0 5px;
	border-radius: 500px;
	background-color: #fff;
	display: inline-block;
	width: 43px;
	height: 43px;
	  color: #d9c381;
	  font: 24px/43px FontAwesome;
}

.socials a:first-child:after {
	  content: '';
	  font: 24px/43px FontAwesome;
	  color: #d9c381;
	  width: 43px;
	  height: 43px;
	  text-align: center;
	  position: absolute;
	  left: 0;
	  top: 0;
	  z-index: 999;
}

.socials a:first-child+a:after {
	  content: '';

}

.socials a:first-child+a+a:after {
	  content: ' ';

}


.socials a.last {
	background: url(/assets/img/pint.png) center 0 no-repeat #fff;
}

.socials a:hover {
	opacity: 0.5;
}

/*Content*/


.content {
	background-color: #fff;
	padding-bottom: 113px;
}

.page1 .content {
	padding-top: 4px;
	padding-bottom: 105px;

}

.block1 {
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	overflow: hidden;
	display: block;
}





.block1 .price {
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	padding: 70px 0 67px;
	left: 50%;
	height: 217px;
	display: block;
	top: 50%;
	overflow: hidden;
	margin-top: -108px;
	margin-left: -104px;
	font: bold 20px/20px 'Open Sans', sans-serif;
	color: #fff;
	width: 217px;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 500px;
}

.block1 .price span+span {
	padding-top: 14px;
	font-size: 36px;
	display: block;
}

.block1 .price small {
font-size: 30px;
position: relative;
top: 2px;
}

.block1 .price * {
	position: relative;
	z-index: 10;
}

.block1 .price strong {
	z-index: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-radius: 500px;	
	opacity: 0;
	right: 0;
	height: 100%;
	background: url(/assets/img/overlay.png) 0 0 repeat;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.block1:hover .price strong {
	opacity: 1;

}

.block1:hover .price {
	color: #4f4f4f;
}

.block1 img {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.block1.blur  img {
	filter: url(../js/blur.svg#blur);
}

.block1:hover img {
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
	filter: blur(3px)
}

.box {
	padding: 0 15px 30px;
	text-align: center;
	background-color: #f6f7ea;
}

.box b{
	padding-top: 100px;
}

.box img {
	border-radius: 500px;
	margin-top: -65px;
}

.box .title {
	/*padding-top: 24px;*/
	padding-top: 10px;
	margin-bottom: 10px;
	font: 22px/20px 'Open Sans', sans-serif;
}

.box>div>a {
	position: relative;
	display: inline-block;
	margin-top: 24px;
	font: 300 16px/20px 'Open Sans', sans-serif;
}

.box>div>a:after {
	display: block;
	position: absolute;
	content: '';
	background: url(/assets/img/link_marker.png) right 0 no-repeat;
	right: -27px;
	width: 16px;
	height: 8px;
	padding-right: 20px;
	top: 7px;
}

.box h3{
	/*margin: 0px;*/
	margin-top: -100px;
	margin-bottom: -10px;
	font-size: 35px;
}

.col1 {
	color: #b39f63;
}

.col1 span a {
	color: #000;
}

.col1 span a:hover {
	color: inherit;
}

a.col1:hover, .col1>a:hover {
	color: #000;
}

.pad1 {
	padding-right: 40px;
}

.nav {
	font-size: 0;
	text-align: center;
	line-height: 0;
	margin-bottom: 3px;
}

.nav li {
	margin: 0 11px;
	display: inline-block;
	font: 18px/20px 'Open Sans', sans-serif;
}

.nav li.selected {
	color: #d9c381;
}

.col2 {
	color: #d9c381;
}

.col3{
	color: #5f5e4e;
}

.tab-content:after {
	clear: both;
}

.col3 a:hover {
	color: #d9c381;
}
.div-tabs  {
	text-align: center;
}

.div-tabs .clear {
}
.div-tabs a.gal  {
	margin-top: 52px;
	
	margin-bottom: 23px;
}

.div-tabs a.gal img {
	border: 1px solid #f7f8ed;
	border-radius: 500px;
}

.post {
	overflow: hidden;
}

.post .fleft {
	margin-top: 4px;
}
.post+.post {
	margin-top: 53px;
}
.post .title {
	font: 18px/20px 'Open Sans', sans-serif;
	margin-bottom: 7px;
}

a.link1 {
	font: 300 16px/20px 'Open Sans', sans-serif;
	display: inline-block;
	margin-top: 15px;
}

.post time {
	position: relative;
	top: 2px;
}
.post .col1 {
	margin-bottom: 19px;
}

.post .col1 span {
	display: inline-block;
	background-color: #e9ddb7;
	width: 1px;
	height: 15px;
	position: relative;
	top: 4px;
	margin: 0px 8px 0 8px;
}

.cont_phone {
	color: #d9c381;
	position: relative;
	top: -1px;
	font:  16px/20px 'Open Sans', sans-serif;
}

a.reserv {
	color: #f6f7ea;
	display: inline-block;
	background-color: #9b9a87;
	padding: 29px 20px 28px 18px;
	margin-top: 54px;
	font:  27px/27px 'Open Sans', sans-serif;
}

a.reserv:hover {
	background-color: #D7D7B1;
	color: #9b9a87;
}

a.reserv span {
	font-size: 50px;
	position: relative;
	display: inline-block;
	top: -4px;
	margin-right: 2px;
}

.hours {
	padding-left: 80px;
	margin-top: 105px;
	position: relative;
	padding-top: 33px;
	padding-bottom: 32px;
	background-color: #f6f7ea;
}

.hours  div {
	position: relative;
	z-index: 10;
}

.hours  .title {
	background-color: #f6f7ea;
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(-90deg); /* Chrome y Safari */
   -moz-transform: rotate(-90deg); /* Firefox */
	font:  36px/36px 'Open Sans', sans-serif;
	position: absolute;
	z-index: 1;
	bottom: 0;
	display: block;
	left: 55px;
	color: #85846d;
	top: 0px;
}

.hours +h3.head3 {
	padding-top: 41px;
	padding-left: 24px;
}

.news {
	overflow: hidden;
	padding-top: 1px;
}

.news+.news {
	margin-top: 23px;
	padding-top: 20px;
	border-top: 1px solid #f6f7ea;
}

.news time {
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	float: left;
	padding-top: 9px;
	display: block;
	width: 57px;
	margin-top: 5px;
	color: #85846d;
	height: 57px;
	margin-right: 22px;
	background-color: #f6f7ea;
	border-radius: 500px;
	text-align: center;
}

.news time span {display: block;
	margin-top: -2px;
font-size: 18px;}



a.gal {
	display: block;
	position: relative;
	
	
}

a.gal span {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(/assets/img/magnify.png) -100% center no-repeat;
}

a.gal:hover span {
	background-position: center center;
}
/****Map***/

.map {
}

.map figure {

	width: 100%;
		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 display: block;
margin-bottom: 43px;

}
.map figure iframe {
	width: 100%;
	height: 325px;
	max-width: 100%;
}


.map address {
	overflow: hidden;
	margin-bottom: 18px;

}


address dt {
	margin-bottom: 20px;
}


address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}

#map {
	width: 100%;
	margin-top: 106px;
	height: 350px;
}

.contact h3.head3 {
	padding-top: 58px;
	margin-bottom: 44px;
}

a.col2:hover {
	color: #000;
}

/************Footer***********/

footer {
	padding: 75px 0 70px;
	display: block;
	color: #85846d;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

footer a:hover {
	color: #5f5e4e;
}

.f_logo {
	display: inline-block;
	margin-bottom: 28px;
}


.copy {
	padding-top: 31px;
	margin: 0 7px;
	border-top: 1px solid #5f5e4e;

}

#toTop {
    background: url("/assets/img/totop.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 70px;
    display: none;
    height: 55px;
    width: 55px;
    left: 58%;
    margin-left: 500px;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    text-indent: -999px;
    transition: all 0s ease 0s;
    z-index: 20;
}
#toTop:hover {
    background-position: right 0;
    outline: medium none;
}