<div id="form_field" style='border: 1px solid; border-radius: 7px; margin: 20px 0px'>
<%= form_for [@category, @product] do |f| %>

  <div class="field">
    <%= image_tag(@product.image) if @product.image? %>
    <%#= f.hidden_field :image_cache %>
    <%= f.file_field :image %>
    <br>
    <%= f.text_field :remote_image_url, placeholder: 'Enter URL' %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<button id='cancel' class='btn btn-default'> Cancel </button>

<script>
$(document).ready(function(){

  $('#cancel').on('click', function(){
      $('#form_field').remove();
      $('.new_product_button').show();
  })

});

</script>
</div>