
<% blockk do %>  
  <ul class='product_<%= product.id %>'>
    <li><%= link_to product.title, category_product_path(@category, product) %>
    <%= product.desc %>
    <%= product.price %>
    <%= image_tag product.image %>
    <%= link_to 'Edit', edit_category_product_path(@category, product), remote: true %>
    <%= link_to 'Destroy', category_product_path(@category, product), method: :delete, remote: true %></li>
  </ul>
 <% end %>


<div class="div-tabs">
  <div id="tab-1" class="tab-content gallery1">
      <div class="grid_3">
        <div class='product_<%= product.id %>'>
        	<%= link_to product.title, class: 'gal' do %>
        		<%= image_tag product.image_url, class: 'gal' %>
        	<% end %>

        	<div class="col2">
            <span class="col3"> <%= product.title %></span> 
             $ <%= product.price %>
             <p>
             <%= link_to 'Edit', edit_category_product_path(@category, product), remote: true %>
             <%= link_to 'Destroy', category_product_path(@category, product), method: :delete, remote: true %></li>
             </p>
          </div>
		    </div>
      </div> <!-- End of Grid -->
  </div>
</div>
