console.log("product| create.js.erb file");
	
	$('nav').after("<div class='alert alert-success'> Product Successfully Added </div>");
	$('#products').append("<%= j render @product %>");
	$('form').remove();
	$('.new_product_button').show();


// 2st Step Direct form for button
// $append
// $('#category_title').val("");
