console.log("Product | destroy.js.erb file");

// $('nav').previous("<div class='alert alert-danger'> Successfully Destroyed </div>");
$(".product_" + <%= @product.id %>).fadeOut(250, function(){
	$(this).remove();
});
	

