
console.log("edit.js.erb file");
console.log(".product_" + <%= @product.id %> );


$('.product_'+<%= @product.id%>).after("<%= escape_javascript(render 'form') %>");
$('.new_product_button').hide();
console.log("END");	
// $('form').slideDown(350);

