<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='products'>
    <%= render @products %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_category_product_path %>
