console.log('New.js.erb');

$('.new_product_button').after("<%= j render('form') %>");

// $('.new_category_button').html("<%= j button_tag :cancel %>").on('click', function(){
// 	$('form').remove();
// });