<!DOCTYPE html>
<html>
<head>
     <title><%= @meta_title %></title>
     <base href='<%= @base %>'>
     <meta charset="utf-8">
  	 <meta http-equiv="Content-Type" content="text/html; charset= utf-8">
     <meta name="viewport" initial-scale="1.0;">
     <meta name="description" content="<%= @meta_description %>">
     <meta name="keyword" content="Sola pizza, Pittsburgh best pizza, hoagie, salad, wings, gyro, delivery best pizza in Pittsburgh, 15203, Pizza delivery, Pizza for delivery, Pittsburgh pizza delivery, Delivery pizza Pittsburgh , Pizza order online, Pizza delivery downtown , Pizza delivery 15222, Fast free delivery pizza, Lunch orders, The Best pizza Pittsburgh , Delivery 15211, Online pizza, coupons specials, Late night delivery Pittsburgh, Delivery 15210, Delivery pizza 15203">

     <link rel="shortcut icon" href="/assets/img/favicon.ico" />
     <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
    <!-- <link rel="icon" href="assets/img/favicon.ico"> -->
  <%#= stylesheet_link_tag    'application', media: 'all'%>
  <%#= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller_name %> <%= action_name %>'>
<%= render 'shared/navbar' unless @disable_nav %>
	<%= yield %>	
<%= render 'shared/footer' %>
<%= render 'shared/footerjs' %>
</body>
</html>
